.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: opacity 1s ease-out;
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: 50%;
}

.footer__column-link:nth-of-type(4) {
  margin-bottom: 16px;
}
